html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;}
body{
    font-size: 15px;
}

.header{list-style-type: none;
    
    background-color:rgb(89,89,91);
  
    width: 100%;
    vertical-align: center;

}
.header img{
    max-height: 70px;
}
.header ul
{
    list-style-type: none;
    float: right;

    vertical-align: center;

}
.header li
{
    float: left;
    padding: 5px;
    margin-top:20px;
margin-right: 30px;
vertical-align: center;
    color: white;
}
.header li a
{
    
     text-decoration: none;
     color: white;
     font-weight: bold;
}
.header li a:hover{
    color:rgb(229, 59, 87);
}
.footer{
    
    overflow: hidden;
    background-color:white;
    
    width: 100%;
    vertical-align: center;
}
.footer img{
    height: 70px;
    float: right;
}
.infoc{

     color:rgb(89,89,91);
  
    float: right;

    width: 100%;
    margin: 25px 0px;

}
.s{

    float: right;
}
.Home{
    background-image:url("images/homeb.jpg");
    height: 550px;
}

.Projects{
    background-color:rgb(89,89,91); 
    padding: 30px;
    color: white;
}
.Projects a{
    text-decoration: none;
     color: white;
}
.Projects a:hover {
    text-decoration: none;
    color:rgb(229, 59, 87);
    background-color: grey;
}
.pros{
    padding-bottom: 20px;
    
}
.pros:hover{
    background-color: rgb(155, 155, 155);
    border-radius: 20px;
}
.fa{padding: 2px;
color:rgb(89,89,91);

}
.About{
    margin: 30px;
    color: rgb(89,89,91);
}
.About ul{margin-left: : 30px;}
.main{
    vertical-align: center;
    color: white;
}
.Home{
    vertical-align: center

}