html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;}
body{
    font-size: 15px;
}

.header{list-style-type: none;
    
    background-color:rgb(89,89,91);
  
    width: 100%;
    

}
.header img{
    max-height: 70px;
}
.menu{float:right;
    color: white;

}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.menu{padding:15px;}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
    text-decoration: none;
}
.sidenav a:visited, a:focus, a:active {
   
    text-decoration: none;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
}


.footer{
    
    overflow: hidden;
    background-color:white;
    
    width: 100%;
    vertical-align: center;
}
.footer img{
    height: 70px;
    float: right;
}
.infoc{

     color:rgb(89,89,91);
  
    float: right;

    width: 100%;
    margin: 25px 0px;

}
.s{

    float: right;
}
.Home{
    background-image:url("images/homeb.jpg");
    height: 550px;
    padding-top: 160px;
}

.Projects{
    background-color:rgb(89,89,91); 
    padding: 30px;
    color: white;
}
.Projects a{
    text-decoration: none;
     color: white;
}
.Projects a:hover {
    text-decoration: none;
    color:rgb(229, 59, 87);
    background-color: grey;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.pros{
    padding-bottom: 20px;
    
}
.pros:hover{
    background-color: rgb(155, 155, 155);
    border-radius: 20px;
}
.fa{padding: 2px;
color:rgb(89,89,91);

}
.About{
    margin: 30px;
    color: rgb(89,89,91);
}
.About ul{margin-left: : 30px;}
.main{
    vertical-align: center;
    color: white;
    font-family: "Brush Script MT", cursive;
    font-size: 80px;
}
.Home{
    vertical-align: center

}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
